@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    width: 205px;
    display: block;
    position: relative;
    color: #333;
    background-color: #fff;
    border-left: 1px solid #e8e8e8;
    box-shadow: 1px 1px 2px #888;
    font-family: "microsoft yahei";
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    padding: 0 10px;
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #cfdfdf;
}

.pika-label {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    z-index: 9999;
    margin: 0 10px;
    padding: 7px 3px 3px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}
.pika-label i {
    position: absolute;
    width: 10px;
    height: 5px;
    top: 15px;
    right: -10px;
    background: url(//www.quimg.com/a5668/img/common/calendar-select-triangle.png) no-repeat;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    width: 20px;
    height: 20px;
    background: url(//www.quimg.com/a2399/img/common/calendar-prev-next.png) no-repeat 7px 5px #fff;
    margin-top: 6px;
    text-indent: -9999px;
    border: none;
    *position: absolute;
    *top: 0;
}
.pika-next {
    background-position: -17px 5px;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .4;
    filter: alpha(opacity=40);
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #333;
    font-size: 12px;
    line-height: 25px;
    font-weight: normal;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px 6px 6px 5px;
    color: #333;
    font-size: 12px;
    line-height: 15px;
    background-color: #fff;
    text-align: center;
}

.pika-week {
    font-size: 11px;
    color: #333;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background-color: #ff8000;
}

.pika-button:hover {
    color: #fff;
    background-color: #ff8000;
}

.is-disabled .pika-button {
    pointer-events: none!important;
    cursor: default!important;
    color: #aeaeae!important;
}

.pika-bottom-btn-wrap {
    display: none;
}

.is-weekend, .is-weekend button {
    color: #f08300;
}

.is-today .pika-button {
    color: #0aaa96!important;
}

.is-today .pika-button:hover {
    background-color: none!important;
    color: #0aaa96!important;
}
